In [12]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [29]:
a_file = open('smni_eeg_data/a_1_co2a0000364/co2a0000364.rd.010', "r")
lines = a_file.readlines()
a_file.close()

new_file = open("smni_eeg_data/a_1_co2a0000364/co2a0000364.rd.010", "w")
for line in lines:
    if line.strip("\n") != "line1":
        new_file.write(line)
        
new_file.close()

In [99]:
def clean_files(file_name):

    lines = []

    with open(file_name, "r") as fp:
        lines = fp.readlines()

    with open(file_name, "w") as fp:
        for number, line in enumerate(lines):
            if number == 0:
                fp.write('Trail# SensorPosition SensorNumber SensorValue\n')
            if number not in [0,1,2,3,4]:
                fp.write(line)

In [100]:
c_n_files = ['c_n_co2c0000337/co2c0000337.rd.021','c_n_co2c0000337/co2c0000337.rd.029','c_n_co2c0000337/co2c0000337.rd.033','c_n_co2c0000337/co2c0000337.rd.043','c_n_co2c0000337/co2c0000337.rd.053','c_n_co2c0000337/co2c0000337.rd.067','c_n_co2c0000337/co2c0000337.rd.073','c_n_co2c0000337/co2c0000337.rd.083','c_n_co2c0000337/co2c0000337.rd.087','c_n_co2c0000337/co2c0000337.rd.089']
c_m_files = ['c_m_co2c0000337/co2c0000337.rd.017','c_m_co2c0000337/co2c0000337.rd.023','c_m_co2c0000337/co2c0000337.rd.025','c_m_co2c0000337/co2c0000337.rd.027','c_m_co2c0000337/co2c0000337.rd.041','c_m_co2c0000337/co2c0000337.rd.047','c_m_co2c0000337/co2c0000337.rd.051','c_m_co2c0000337/co2c0000337.rd.055','c_m_co2c0000337/co2c0000337.rd.065','c_m_co2c0000337/co2c0000337.rd.071']
c_1_files = ['c_1_co2c0000337/co2c0000337.rd.000','c_1_co2c0000337/co2c0000337.rd.002','c_1_co2c0000337/co2c0000337.rd.016','c_1_co2c0000337/co2c0000337.rd.024','c_1_co2c0000337/co2c0000337.rd.026','c_1_co2c0000337/co2c0000337.rd.028','c_1_co2c0000337/co2c0000337.rd.030','c_1_co2c0000337/co2c0000337.rd.032','c_1_co2c0000337/co2c0000337.rd.034','c_1_co2c0000337/co2c0000337.rd.036']

In [101]:
a_1_files = ['a_1_co2a0000364/co2a0000364.rd.000', 'a_1_co2a0000364/co2a0000364.rd.002', 'a_1_co2a0000364/co2a0000364.rd.010', 'a_1_co2a0000364/co2a0000364.rd.012', 'a_1_co2a0000364/co2a0000364.rd.014','a_1_co2a0000364/co2a0000364.rd.018', 'a_1_co2a0000364/co2a0000364.rd.020', 'a_1_co2a0000364/co2a0000364.rd.022', 'a_1_co2a0000364/co2a0000364.rd.024', 'a_1_co2a0000364/co2a0000364.rd.028']
a_m_files = ['a_m_co2a0000364/co2a0000364.rd.009', 'a_m_co2a0000364/co2a0000364.rd.017', 'a_m_co2a0000364/co2a0000364.rd.023', 'a_m_co2a0000364/co2a0000364.rd.025', 'a_m_co2a0000364/co2a0000364.rd.027','a_m_co2a0000364/co2a0000364.rd.037', 'a_m_co2a0000364/co2a0000364.rd.041', 'a_m_co2a0000364/co2a0000364.rd.047', 'a_m_co2a0000364/co2a0000364.rd.055', 'a_m_co2a0000364/co2a0000364.rd.061']
a_n_files = ['a_n_co2a0000364/co2a0000364.rd.007', 'a_n_co2a0000364/co2a0000364.rd.015', 'a_n_co2a0000364/co2a0000364.rd.019', 'a_n_co2a0000364/co2a0000364.rd.031', 'a_n_co2a0000364/co2a0000364.rd.039','a_n_co2a0000364/co2a0000364.rd.043', 'a_n_co2a0000364/co2a0000364.rd.045', 'a_n_co2a0000364/co2a0000364.rd.049', 'a_n_co2a0000364/co2a0000364.rd.057', 'a_n_co2a0000364/co2a0000364.rd.059']

In [102]:
file_list_c = [c_n_files,c_m_files,c_1_files]
file_list_a = [a_1_files,a_m_files,a_n_files]

In [103]:
for a in file_list_a:
    for file in a:
        clean_files(f"smni_eeg_data/{file}")

In [104]:
for c in file_list_c:
    for file in c:
        clean_files(f"smni_eeg_data/{file}")

In [105]:
import os

In [137]:
df = pd.DataFrame(columns=['Trail#','SensorPosition','SensorNumber','SensorValue'])

In [138]:
for c in file_list_c:
    for i in c:
        temp_df = pd.read_csv("smni_eeg_data/"+i, delimiter=' ')
        temp_df['alcoholic'] = temp_df['SensorValue'].apply([lambda x: 0])
        temp_df['paradigm'] = temp_df['SensorValue'].apply([lambda x: str(i[2])])     
        df = pd.concat([df, temp_df])

In [139]:
df

      Trail# SensorPosition SensorNumber  SensorValue  alcoholic paradigm
0         21            FP1           12        5.585        0.0        n
1         21            FP1           13        6.561        0.0        n
2         21            FP1           14        6.073        0.0        n
3         21            FP1           15        5.585        0.0        n
4         21            FP1           16        5.096        0.0        n
...      ...            ...          ...          ...        ...      ...
16430     36              Y          251      -12.787        0.0        1
16431     36              Y          252      -14.252        0.0        1
16432     36              Y          253      -13.275        0.0        1
16433     36              Y          254      -10.834        0.0        1
16434     36              Y          255       -8.881        0.0        1

[493050 rows x 6 columns]

In [140]:
for a in file_list_a:
    for i in a:
        temp_df = pd.read_csv("smni_eeg_data/"+i, delimiter=' ')
        temp_df['alcoholic'] = temp_df['SensorValue'].apply([lambda x: 1])
        temp_df['paradigm'] = temp_df['SensorValue'].apply([lambda x: str(i[2])])   
        df = pd.concat([df, temp_df])

In [141]:
df

      Trail# SensorPosition SensorNumber  SensorValue  alcoholic paradigm
0         21            FP1           12        5.585        0.0        n
1         21            FP1           13        6.561        0.0        n
2         21            FP1           14        6.073        0.0        n
3         21            FP1           15        5.585        0.0        n
4         21            FP1           16        5.096        0.0        n
...      ...            ...          ...          ...        ...      ...
16438     59              Y          251       -8.545        1.0        n
16439     59              Y          252       -8.057        1.0        n
16440     59              Y          253       -8.057        1.0        n
16441     59              Y          254       -6.592        1.0        n
16442     59              Y          255       -5.127        1.0        n

[986196 rows x 6 columns]